.menu-item {
    font-size: 16px;
    font-weight: 500;
    padding: 11px 16px;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0);
}

.menu-item p, .menu-item a {
    color: #F2F4F7;
}

.menu-item:hover {
    border: 1px solid white;
    border-radius: 50px;
}

.menu-arrow::after {
    content: url('/src/assets/text-arrow.svg');
    margin-left: 10px;
}

.menu-arrow:hover::after {
    content: url('/src/assets/text-arrow.svg');
    rotate: 180deg;
}

.header-menu-info .social-link:hover {
    border-color: #F2F4F7;
}

.header-contact {
    font-size: 16px;
    font-weight: 500;
    padding: 17px 15px;
    text-decoration: none;
    color: white;
}

.header-contact:hover {
    color: #1818ED;
}

.menu-item.active {
    border: 1px solid #1818ED;
    color: #1818ED;
    border-radius: 50px;
}

.menu-item.active p{
    color: #1818ED;
}

.menu-arrow.active::after {
    content: url('/src/assets/text-arrow-active.svg');
}

.menu-arrow.active:hover::after {
    content: url('/src/assets/text-arrow-active.svg');
}