.sub-menu-wraper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content:left;
    left: 0;
    top: 66px;
    width: max-content;
    background-color: rgba(28,28,28,0.8);
    width: 100%;
    border-radius: 20px;
}

.sub-menu-wraper button {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 0 10px;
    /* border-radius: 5px 5px 0 0; */
}

.sub-menu-wraper button:hover {
    background-color: #1c1c1c;
}

.sub-menu-text {
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    height: 30px;
    line-height: 30px;
}