.contact-form-wraper {
    display: flex;
    flex-direction: column;
}

.form-input {
    margin-bottom: 30px;
}

.form-input div {
    background-color: rgba(255, 255, 255, 0.15);
    height: 44px;
}

.form-input-area > div {
    height: 150px;
}

.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
    color: rgba(255, 255, 255, 0.5);
    transform: translate(10px, 21px) scale(1);
    font-family: 'e-Ukraine-Medium';
    font-size: 23px;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'e-Ukraine-Medium';
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'e-Ukraine-Medium';
}

/* .form-input .Mui-focused:first-child {
    color: rgba(255, 255, 255, 1);
    transform: translate(10px, -10px) scale(1);
} */

.css-uhyr2s-MuiInputBase-root-MuiInput-root::after {
    border-bottom: 2px solid white;
}

.form-input div textarea {
    color: white;
    padding-left: 10px;
}

.form-input .Mui-focused:last-child {
    color: white;
}

.contact-form-btn {
    margin-top: 25px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 25px;
    font-family: 'e-Ukraine-Medium';
}

.contact-form-btn .btn-icon {
    content: url('../../assets/arrow_right.svg');
    margin-left: 30px;
}