.hero-wrapper {
    background-image: url('/public/img/hero_img.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.title, .title-text {
    color: white;
    margin: 0;
    text-transform: uppercase;
}

.title-text-wraper p {
    margin-right: 200px;
}

.title-text {
    font-size: 90px;
    font-family:'e-Ukraine-Medium', sans-serif;
}

.second-title-text {
    margin-right: 150px;
}

.title {
    font-size: 34px;
    font-family:'e-Ukraine-Light', sans-serif;
}

.title-text-bg {
    background-image: url('/public/img/title_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:inherit;
    position: absolute;
    width: 1170px;
    top: 0;
    bottom: 0;
    right: 0;
    left: -445px;
}
.second-title-text-bg {
    background-image: url('/public/img/second_title_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:inherit;
    position: absolute;
    height: 204px;
    width: 100%;
}

.down-btn-animated {
    position: absolute;
    animation: moveBtnUpDown 5s infinite alternate;
}

@keyframes moveBtnUpDown {
    0% {
        padding-bottom: 20px;
    }
    20% {
        padding-bottom: 0;
    }
    100% {

    }
}