.base-equip-wraper {
    border-top: 1px solid #141A29;
    border-bottom: 1px solid #141A29;
}

.base-equip-title {
    line-height: 69px;
}

.base-equip-title h3 {
    font-family: 'e-Ukraine';
    margin: 15px;
    font-size: 60px;
    font-weight: 500;
    color: #141A29;
    text-transform: uppercase;
    letter-spacing: 5.5px;
}

.base-equip-description .table-row {
    border-left: none;
}

.base-equip-description .table-cell {
    border-right: none;
}

.base-equip-description .second-table-cell {
    border-right: 1px solid #141A29;
    border-left: 1px solid #141A29;
}

.base-equip-description .table-cell {
    line-height: 1.38;
    width: 25%;
}

@media (max-width: 900px) {
    .base-equip-title h3 {
        font-size: 40px;
        line-height: 45px;
    }
    .base-equip-description .table-cell {
        line-height: 1.38;
        width: auto;
    }
}

@media (max-width: 545px) {
    .base-equip-title h3 {
        font-size: 30px;
        line-height: 35px;
    }
    .base-equip-description .table-cell {
        line-height: 1.38;
        width: auto;
    }
}

@media (max-width: 375px) {
    .base-equip-title h3 {
        font-size: 25px;
        line-height: 30px;
    }
}