.base-equip-title {
    font-size: 56.5px;
    background-image: url('/public/img/production/bpak_base_eqip_bg.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size:inherit;
    margin-bottom: 100px;
    color: white;
    text-transform: uppercase;
}

.base-equip-title h3 {
    font-family: 'e-Ukraine-Medium';
    margin: 0;
    line-height: 102px;
    text-align: end;
    font-size: 60px;
    margin-bottom: 100px;
    color: white;
    text-transform: uppercase;
    position: relative;
}

.base-equip-wraper {
    position: relative;
}

.base-equip-bg-wraper {
    content: url('/public/img/production/base-equip-bg-2.png');
    position: absolute;
    right: -5vw;
}

.descript-description-player > div {
    position: absolute;
    bottom: 70px;
    right: 108px;
    z-index: 1;
}

.descript-description-player div a::after {
    content: url('/public/img/production/play-img.png');
    position: absolute;
    top: 25px;
    left: 154px;
}

.descript-description-player a {
    display: block;
}

.descript-description-player img {
    border-radius: 10px;
}