.contact-bg-wraper {
    background-color: #2B3857;
}

.contacts-title-wraper {
    border-top: 1px solid #F2F4F7;
    border-bottom: 1px solid #F2F4F7;
    margin-bottom: 5px;
}

.contacts-title {
    display: flex;
    align-items: center;
    padding: 15px;
    border-left: 1px solid #F2F4F7;
}

.contact-info {
    display: flex;
    padding: 15px;
    line-height: 24px;
    background-color: #F2F4F7;
    width: 100%;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact-icon {
    border: 1px solid #F2F4F7;
    width: 54px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-title h3 {
    font-family: "e-Ukraine";
    font-size: 60px;
    font-weight: 500;
    color: #F2F4F7;
    text-transform: uppercase;
    letter-spacing: 5.5px;
    line-height: 72px;
}

.contact-info p {
    font-size: 25px;
    font-weight: 500;
    font-family: 'Montserrat';
   
}

.contact-info .contact-text {
    font-size: 16px;
}

.contact-tel:hover, .contact-mail:hover {
    color: #1818ED;
}

.email-contact, .contact-mail-icon {
    border-bottom: 1px solid #141A29;
}

@media (max-width: 1024px) {
    .contacts-title {
        padding: 10px;
    }

    .contacts-title h3 {
        font-size: 50px; /* Зменшення розміру шрифту */
        line-height: 60px;
        letter-spacing: 4px; /* Зменшення відстані між літерами */
    }

    .contact-info {
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        line-height: 20px;
        height: 100%;
    }

    .contact-item {
        margin-bottom: 10px;
        min-width: 49%;
    }

    .contact-icon {
        width: 40px;
    }

    .contact-info p {
        font-size: 20px;
    }

    .contact-info .contact-text {
        font-size: 16px;
    }
}

@media (max-width: 545px) {
.mobile-contact-wraper {
    padding-left: 16px;
    padding-right: 16px;
}

.contact-item {
    margin-bottom: 0;
    flex-direction: column;
    width: 100%;
}

    .contacts-title {
        text-align: center;
        border-left: none;
    }

    .contacts-title h3 {
        font-size: 30px; /* Ще менший розмір для мобільних */
        line-height: 40px;
        letter-spacing: 2px;
    }

    .contact-info {
        flex-direction: column;
        padding: 5px;
        line-height: 18px;
    }

    .contact-icon {
        width: 100%;
        height: auto;
    }

    .contact-info p {
        font-size: 20px;
    }

    .contact-icon, .contact-info {
        padding: 20px 10px;
    }

    .contact-info .contact-text {
        font-size: 16px;
    }
}

@media (max-width: 375px) {
.mobile-contact-wraper {
    padding-left: 16px;
    padding-right: 16px;
}

.contact-item {
    margin-bottom: 0;
    flex-direction: column;
    width: 100%;
}

    .contacts-title {
        text-align: center;
        border-left: none;
    }

    .contacts-title h3 {
        font-size: 30px; /* Ще менший розмір для мобільних */
        line-height: 40px;
        letter-spacing: 2px;
    }

    .contact-info {
        flex-direction: column;
        padding: 5px;
        line-height: 18px;
    }

    .contact-icon {
        width: 100%;
        height: auto;
    }

    .contact-info p {
        font-size: 20px;
    }

    .contact-icon, .contact-info {
        padding: 20px 10px;
    }

    .contact-info .contact-text {
        font-size: 16px;
    }
}