.contacts-title {
    border-right: 1px solid #141A29;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
}

.contacts-wraper {
    border-top: 1px solid #141A29;
    border-bottom: 1px solid #141A29;
}

.contacts-cell:first-child {
    border-bottom: 1px solid #141A29;
}

.contacts-item {
    display: flex;
    border-right: 1px solid #141A29;
    padding: 15px;
    line-height: 24px;
}

.contacts-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #141A29;
}

.contacts-title h3 {
    font-family: "Gerhaus";
    font-size: 60px;
    font-weight: 400;
    color: #141A29;
    text-transform: uppercase;
    letter-spacing: 5.5px;
}

.contacts-item p {
    font-size: 25px;
    font-weight: 500;
    font-family: 'Montserrat';
}

.contacts-item .contact-text {
    font-size: 16px;
}

.contact-tel:hover, .contact-mail:hover {
    color: #1818ED;
}

.contacts-item-phone-icon img, .contacts-item-mail-icon img {
    height: 24px;
    width: 24px;
}