.contact-bg-wraper {
    background-color: #2B3857;
}

.contacts-title-wraper {
    border-top: 1px solid #F2F4F7;
    border-bottom: 1px solid #F2F4F7;
    margin-bottom: 5px;
}

.contacts-title {
    display: flex;
    align-items: center;
    padding: 15px;
    border-left: 1px solid #F2F4F7;
}

.contact-info {
    display: flex;
    padding: 15px;
    line-height: 24px;
    background-color: #F2F4F7;
    width: 100%;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact-icon {
    border: 1px solid #F2F4F7;
    width: 54px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-title h3 {
    font-family: "e-Ukraine";
    font-size: 60px;
    font-weight: 500;
    color: #F2F4F7;
    text-transform: uppercase;
    letter-spacing: 5.5px;
    line-height: 72px;
}

.contact-info p {
    font-size: 25px;
    font-weight: 500;
    font-family: 'Montserrat';
   
}

.contact-info .contact-text {
    font-size: 16px;
}

.contact-tel:hover, .contact-mail:hover {
    color: #1818ED;
}

.email-contact, .contact-mail-icon {
    border-bottom: 1px solid #141A29;
}