.news {
    border-top: 1px solid #141A29;
    border-bottom: 1px solid #141A29;
}

.news-array-wraper {
    border: 1px solid #141A29;
}

.news-title {
    border-left: 1px solid #141A29;
}

.news-title h3 {
    font-family: 'Gerhaus';
    margin: 15px;
    font-size: 60px;
    font-weight: 400;
    color: #141A29;
    text-transform: uppercase;
    letter-spacing: 5.5px;
}

.news-array-btn {
    border: 1px solid #141A29;
    width: 100%;
    border-radius: 500px;
}

.news-array-btn p {
    line-height: 30px;
}

.news-btn {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat';
    font-size: 25px;
    color: #141A29;
    font-weight: 500;
}