.news {
    border-top: 1px solid #141A29;
    border-bottom: 1px solid #141A29;
}

.news-array-wraper {
    border: 1px solid #141A29;
}

.news-title {
    border-left: 1px solid #141A29;
}

.news-title h3 {
    font-family: 'e-Ukraine';
    margin: 15px;
    font-size: 60px;
    font-weight: 500;
    color: #141A29;
    text-transform: uppercase;
    letter-spacing: 5.5px;
}

.news-array-btn {
    margin-top: 29px;
    display: flex;
    justify-content: center;
}

.news-btn {
    padding: 15px 41.5px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    color: #F2F4F7;
    background-color: #2B3857;
    border: 1px solid #141A29;
}

.news-btn:hover {
    color: #141A29;
    border: 1px solid #141A29;
}

@media (max-width: 1024px) {


    .news-title h3 {
        font-size: 50px;
        letter-spacing: 4px;
    }

    .news-btn {
        padding: 10px 30px;
        font-size: 16px;
    }
}

@media (max-width: 900px) {
    .news-array-wraper {
        width: 100%;
        margin: 10px;
    }

    .news-title {
        border-left: none;
    }

    .news-title h3 {
        font-size: 40px;
        letter-spacing: 2px;
    }

    .news-array-wraper {
        margin: 5px;
        border-left: none;
        border-right: none;
    }

    .news-btn {
        padding: 8px 20px;
        font-size: 12px;
        line-height: 20px;
    }

    .news-array-btn {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 545px) {
    .news-array-wraper {
        width: 100%;
        margin: 10px;
    }

    .news-title {
        border-left: none;
        text-align: center;
    }

    .news-title h3 {
        font-size: 30px;
        letter-spacing: 2px;
    }

    .news-array-wraper {
        margin: 5px;
        border-left: none;
        border-right: none;
    }

    .news-btn {
        padding: 8px 20px;
        font-size: 12px;
        line-height: 20px;
    }

    .news-array-btn {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 375px) {
    .news-title {
        border-left: none;
        text-align: center;
    }

    .news-title h3 {
        font-size: 30px;
        letter-spacing: 2px;
    }

    .news-array-wraper {
        margin: 5px;
        border-left: none;
        border-right: none;
    }

    .news-btn {
        padding: 8px 20px;
        font-size: 12px;
        line-height: 20px;
    }

    .news-array-btn {
        flex-direction: column;
        gap: 10px;
    }
}