@font-face {
    font-family: 'e-Ukraine';
    src: url('../../assets/fonts/e-Ukraine-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'e-Ukraine';
    src: url('../../assets/fonts/e-Ukraine-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'e-Ukraine';
    src: url('../../assets/fonts/e-Ukraine-Light.otf') format('opentype');
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: 'e-Ukraine';
    src: url('../../assets/fonts/e-Ukraine-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'e-Ukraine';
    src: url('../../assets/fonts/e-Ukraine-UltraLight.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    text-decoration: none;
    color: #141A29;
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 1360px;
    padding-left: 0;
    padding-right: 0;
}

.body-wraper {
    background-color: #F2F4F7;
}