@font-face {
    font-family: 'Gerhaus';
    src: url('../../assets/fonts/Gerhaus.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gerhaus';
    src: url('../../assets/fonts/Gerhaus.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    text-decoration: none;
    color: #141A29;
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 1360px;
    padding-left: 0;
    padding-right: 0;
}

.body-wraper {
    background-color: #F2F4F7;
}