.descript-wraper {
    border-top: 1px solid #141A29;
    border-bottom: 1px solid #141A29;
    margin-bottom: 30px;
}

.descript-title {
    border-left: 1px solid #141A29;
    line-height: 46.5px;
}

.descript-title h3 {
    font-family: 'e-Ukraine';
    margin: 15px;
    font-size: 60px;
    font-weight: 500;
    line-height: 60px;
    color: #141A29;
    text-transform: uppercase;
    letter-spacing: 5.5px;
}

.descript-item-wraper {
    justify-content: space-between;
}

.descript-text p {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: #141A29;
    letter-spacing: normal;
    line-height: 18.5px;
}

.fpv-descript-text p {
    line-height: 20px;
}

.descript-marg {
    margin-top: 30px;
}

.descript-text .descript-bold {
    font-weight: bold;
}

.descript-text .descript-mini-text {
    font-size: 12px;
    color: #656C7D;
}

.descript-video-wraper {
    position: relative;
    overflow: hidden;
    height: 200px;
    margin-top: 30px;
    width: 100%;
}

.descript-video-wraper-mt {
    margin-top: 0;
    margin-bottom: 30px;
}

.descript-video-wraper img {
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.descript-video {
    /* position: absolute; */
    top: 0;
    bottom: 0;
    width: 100%;
}

.descript-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.descript-text-end {
    display: flex;
    justify-content: end;
}

.descript-text-page {
    display: flex;
    gap: 15px;
}

.third-descript-img {
    display: flex;
    gap: 15px;
}

.descript-text > p:nth-child(2) {
    margin: 30px 0;
}

.descript-text > div > p {
    padding: 15px;
    border-top: 1px solid #141A29;
}

.descript-text > div > p:last-child {
    border-bottom: 1px solid #141A29;
}

.descript-text > div > div {
    border-top: 1px solid #141A29;
    padding: 15px;
}

.descript-text > div > div p {
    padding: 0;
}

.descript-text > div > div ul {
    margin: 0;
    padding-left: 25px;
}

.fpv-descript-btn {
    width: 100%;
}

.link-descript-btn {
    width: 100%;
    margin-top: 30px;
}

.fpv_img {
    width: 100%;
}

@media (max-width: 1200px) {
    .descript-item {
        padding: 10px;
        align-items: center;
        gap: 30px;
    }
    .fpv_img_wraper {
        flex-direction: column;
    }
    .descript-video{
        height: 100%;
    }
}

@media (max-width: 900px) {
    .descript-title h3 {
        font-size: 40px;
        line-height: 45px;
    }
    .descript-title {
        border-left: none;
    }
    .second-descript-img img{
        width: 100%;
    }
    .third-descript-img img, .third-descript-img div{
        width: 100%;
    }
    .descript-text-page img{
        width: 100%;
    }
    .fpv_img_wraper {
        flex-direction: row;
    }
    .descript-video{
        height: auto;
    }
    .descript-text-page {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .descript-text-page {
        flex-direction: column;
    }
}

@media (max-width: 545px) {
    .descript-item-wraper {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 30px;
    }
    .descript-title h3 {
        font-size: 30px;
        line-height: 35px;
    }
    .descript-title {
        border-left: none;
    }
    .descript-item {
        gap: 30px;
    }
    .descript-text-page {
        flex-direction: column;
    }
    .second-descript-img img{
        width: 100%;
    }
    .third-descript-img img, .third-descript-img div{
        width: 100%;
    }
    .descript-text-page img{
        width: 100%;
    }
}

@media (max-width: 375px) {
    .descript-title h3 {
        font-size: 25px;
        line-height: 30px;
    }
}