.tech-char-wraper {
    border-top: 1px solid #141A29;
    border-bottom: 1px solid #141A29;
}

.tech-char-title {
    border-left: 1px solid #141A29;
    line-height: 69px;
}

.tech-char-title h3 {
    font-family: 'e-Ukraine';
    margin: 15px;
    font-size: 60px;
    font-weight: 500;
    color: #141A29;
    text-transform: uppercase;
    letter-spacing: 5.5px;
}

.link-table {
    background-color: #F2F4F7;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.table-row {
    border-left: 1px solid #141A29;
}

.table-cell {
    font-family: 'e-Ukraine';
    padding: 15px;
    font-size: 16px;
    border-right: 1px solid #141A29;
    border-bottom: 1px solid #141A29;
}

.table-text-wraper {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.table-text {
    text-align: start;
    font-size: 12px;
    color: #656C7D;
}

.battery-table-header .battery-table-cell, .table-header .table-cell{
    font-weight: bold;
}

.span-table-cell {
    padding: 0;
}

.bottom-table-cell {
    border-bottom: none;
}

.right-table-cell {
    border-right: none;
}

.row-table-cell {
    border-left: none;
    border-right: none;
}

@media (max-width: 545px) {
    .tech-char-title h3 {
        font-size: 28px;
        line-height: 35px;
    }
    .table-row, .tech-char-title {
        border-left: none;
    }
}