.call-back-title h3 {
    font-family: 'e-Ukraine';
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 6.5px;
    line-height: 69px;
}

.call-back-title {
    padding: 15px;
    border: 1px solid #141A29;
    border-right: none;
    margin-bottom: 30px;
}

.call-back-text {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: #141A29;
}

.call-back-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-back-form-wraper {
    padding-top: '50px',
}

.call-back-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.call-back-wraper .cat-img {
    content: url(../../../public/img/cat_img.svg);
    height: 350px;
    margin-left: 65px;
}

.call-back-wraper .call-back-img {
    content: url(../../../public/img/call_back_img.png);
    height: 300px;
}

@media (max-width: 1160px) {
    .call-back-wraper .cat-img {
        height: 300px;
    }
}

@media (max-width: 1024px) {
    .call-back-title h3 {
        font-size: 50px;
        letter-spacing: 4px;
        line-height: 50px;
    }

    .call-back-title {
        padding: 10px;
        margin-bottom: 20px;
    }

    .call-back-wraper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .call-back-wraper .cat-img {
        height: 250px;
        margin-left: 0;
    }

    .call-back-wraper .call-back-img {
        height: 200px;
    }

    .call-back-text {
        font-size: 16px;
    }
}

@media (max-width: 900px) {
    .call-back-title h3 {
        font-size: 40px;
        letter-spacing: 2px;
        line-height: 40px;
        text-align: center;
    }

    .call-back-title {
        border: none;
        margin-bottom: 10px;
    }

    .call-back-title h3 {
        text-align: start;
    }

    .call-back-wraper {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .rev-dir-for-mob {
        flex-direction: column-reverse;
    }

    .contact-form-input {
        width: 100%;
    }

    .call-back-wraper .cat-img {
        height: 350px;
        margin-top: 60px;
        width: 100%;
    }

    .call-back-wraper .call-back-img {
        height: 150px;
    }

    .call-back-text {
        font-size: 16px;
        text-align: start;
    }
}

@media (max-width: 545px) {
    .call-back-title h3 {
        font-size: 30px;
        letter-spacing: 2px;
        line-height: 40px;
        text-align: center;
    }
}

@media (max-width: 375px) {
    .call-back-title h3 {
        font-size: 30px;
        letter-spacing: 2px;
        line-height: 40px;
        text-align: center;
    }

    .call-back-title {
        border: none;
        margin-bottom: 10px;
    }

    .call-back-title h3 {
        text-align: start;
    }

    .call-back-wraper {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .rev-dir-for-mob {
        flex-direction: column-reverse;
    }

    .contact-form-input {
        width: 100%;
    }

    .call-back-wraper .cat-img {
        margin-top: 60px;
        width: 100%;
    }

    .call-back-wraper .call-back-img {
        height: 150px;
    }

    .call-back-text {
        font-size: 16px;
        text-align: start;
    }
}