.partners-title {
    border-left: 1px solid #141A29;
    line-height: 69px;
}

.partners-wraper {
    border-top: 1px solid #141A29;
    border-bottom: 1px solid #141A29;
}

.partners-item {
    border-bottom: 1px solid #141A29;
    padding-top: 15px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.partners-item:nth-child(2), .partners-item:nth-child(5) {
    border-left: 1px solid #141A29;
    border-right: 1px solid #141A29;
}

.partners-title h3 {
    font-family: "e-Ukraine";
    margin: 15px;
    font-size: 60px;
    font-weight: 500;
    color: #141A29;
    text-transform: uppercase;
    letter-spacing: 5.5px;
}

.partners-img {
    height: 120px;
    position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

.partners-img img {
    position: relative;
    transition: transform 0.35s;
    transform: scale(1);
}

.partners-item:hover .partners-img img {
    transform: scale(1.1);
}