.advantages-sds-mini-title {
    font-size: 60px;
    margin-bottom: 100px;
    color: white;
    text-transform: uppercase;
}

.advantages-sds-mini-title h3 {
    margin: 0;
}

.sds-descript-first-text {
    color: white;
}

.sds-descript-first-text p {
    font-family: 'e-Ukraine-Light';
    font-size: 18px;
    line-height: 22px;
}