.advantages-battery-title {
    font-size: 60px;
    margin-bottom: 100px;
    color: white;
    text-transform: uppercase;
}

.battery-descript-first-text {
    color: white;
}

.battery-descript-first-text p {
    font-family: 'e-Ukraine-Light';
    font-size: 18px;
    line-height: 22px;
}

.descript-first-text .battery-advantage-title {
    font-size: 25px;
    line-height: 30px;
    font-family: 'e-Ukraine-Medium';
    text-transform: uppercase;
}