.advantages-sds-mini-title {
    font-size: 60px;
    background-image: url('/public/img/production/advantages-sds-mini-bg.png');
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: center;
    background-size:inherit;
    margin-bottom: 100px;
    color: white;
    text-transform: uppercase;
}

.advantages-sds-mini-title h3 {
    margin: 0;
}