.about {
    border-top: 1px solid #141A29;
    border-bottom: 1px solid #141A29;
    margin-bottom: 30px;
}

.about-title {
    border-left: 1px solid #141A29;
    line-height: 46.5px;
}

.about-title h3 {
    font-family: 'Gerhaus';
    margin: 15px;
    font-size: 60px;
    font-weight: 400;
    color: #141A29;
    text-transform: uppercase;
    letter-spacing: 5.5px;
}

.about-img-wraper {
	overflow: hidden;
	margin: 0;
	width: 100%;
	list-style: none;
    margin-bottom: 30px;
}

.about-img-wraper div {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	cursor: pointer;
}

.about-img-wraper div img {
    width: 100%;
    position: relative;
    transition: opacity 0.35s, transform 0.35s;
    transform: scale(1.05);
}

.about-wraper:hover div img {
    transform: scale(1);
    opacity: 1;
}

.about-wraper {
    padding: 15px;
    line-height: 20px;
}

.about-wraper p {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: #141A29;
    letter-spacing: normal;
}

.about-wraper .about-bold {
    font-weight: bold;
}

.about-wraper .about-mini-text {
    font-size: 12px;
    color: #656C7D;
}

.about-text-end {
    text-align: end;
}

.about-item-wraper {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-item-title {
    line-height: 30px;
}

.about-item-wraper .production-item-title a {
    font-weight: 500;
    font-size: 25px;
}

.about-icon {
    display: flex;
    justify-content: center;
    margin: 30px 0 15px;
}

.about-img {
    position: relative;
}

.about-video {
    margin-top: 30px;
}