.partners-slider .slide {
    position: relative;
    background-color: #F2F4F7;
    transition: background-color 0.3s ease;
}

.partners-slider .slide-img {
    display: block;
    margin: auto;
    transition: opacity 0.3s ease;
}

.partners-slider .slide:hover {
    background-color: #141A29; 
}

.partners-slider .slide:hover .slide-img {
    opacity: 0; 
}

.slide {
    background-attachment: fixed;
    background-position-y: 15px;
    background-position-x: center;
    background-repeat: no-repeat;
}

.partners-slider .slide-title {
    position: absolute;
    bottom: -40px; /* Відстань між слайдом і підсказкою */
    left: 50%;
    transform: translateX(-50%);
    background-color: #141A29; /* Фон назви */
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s ease, bottom 0.3s ease;
    pointer-events: none; /* Щоб текст не перекривав собою клікабельні елементи */
    font-size: 14px;
}

.partners-slider .slide-title::after {
    content: '';
    position: absolute;
    top: -7px; /* Розташування стрілки відносно назви */
    left: 50%;
    transform: translateX(-50%);
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #141A29 transparent;
    /* Створюємо трикутник, який вказує на слайд */
}

.partners-slider .slide:hover .slide-title {
    opacity: 1;
    bottom: -60px; /* Підсказка піднімається ближче до слайда */
}

.partners-slider .slide:hover .slide-title {
    opacity: 1;
    bottom: -40px; /* Підсказка піднімається ближче до слайда */
}

.partners-slider .slide-1:hover {
    background-image: url('../../../public/img/partner-true-ukr-hover.svg'); 
}

.partners-slider .slide-2:hover {
    background-image: url('../../../public/img/partner-vexilum-hover.svg'); 
}

.partners-slider .slide-3:hover {
    background-image: url('../../../public/img/partner-atn-hover.svg'); 
}

.partners-slider .slide-4:hover {
    background-image: url('../../../public/img/partner-taf-hover.svg'); 
}

.partners-slider .slide-5:hover {
    background-image: url('../../../public/img/partner-ts-fly-hover.svg'); 
}

.partners-slider .slide-6:hover {
    background-image: url('../../../public/img/partner-optivita-hover.svg'); 
}

.partners-slider .swiper-slide {
    height: fit-content;
    padding: 15px 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners-slider .swiper-slide-next {
    border-left: 1px solid #141A29;
    border-right: 1px solid #141A29;
}

.partners-slider .swiper-slide img {
    height: 120px;
}

.partner-nav-btn-wraper  {
    margin-top: 29px;
}

.partner-nav-btn-wraper > div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 30px;
}