.production-slider {
    width: 100%;
    height: 700px;
}

.production-img {
    overflow: hidden;
}

.production-img-wraper {
	overflow: hidden;
	margin: 0;
	width: 100%;
	list-style: none;
	text-align: center;
}

.production-img-wraper div {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}

.production-img-wraper div img {
    width: calc(100% + 100px);
    opacity: 0.7;
    transition: opacity 0.35s, transform 0.35s;
    transform: scale(1.2);
}

.production-wraper:hover div img {
    transform: scale(1);
    opacity: 1;
}

.production-slider .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgba(0,0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
}

.production-slider .production-list-item {
    height: 100%;
}

.production-slider .swiper-slide div {
    background: rgba(0,0,0,0);
}

.production-slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.production-slider .swiper-slide .btn-wrap img {
    width: 70px;
}

.production-slider .swiper-button-next {
    top: auto;
    bottom: 0 !important;
    right: 10% !important;
    content: url('../../assets/arrow_right.svg');
    width: 50px;
    height: 50px;
}

.production-slider .swiper-button-prev {
    top: auto;
    bottom: 0 !important;
    left: 80% !important;
    content: url('../../assets/arrow_left.svg');
    width: 50px;
    height: 50px;
}

.production-wraper {
    height: 610px;
}

.porduction-item-wraper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
}

.porduction-item-wraper .production-item-title {
    margin-bottom: 10px;
    font-family: 'e-Ukraine-Bold';
    font-size: 25px;
    line-height: 31px;
    text-transform: uppercase;
}

.porduction-item-wraper .porduction-description {
    font-size: 18px;
    font-family: 'e-Ukraine-Light';
    line-height: 22px;
}

.production-img {
    position: relative;
}

.production-img::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.production-slider .btn-wrap a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    font-size: 15px;
    font-family: 'e-Ukraine-Light';
}

.production-slider .btn-wrap .custom-arrow {
    margin-left: 20px;
    margin-right: 5px;
    position: relative;
}

.production-list-item:hover .production-img::before {
    background-color: rgba(0, 0, 0, 0);
}