.production-slider .swiper-slide {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.production-slider .swiper-slide-next {
    border-left: 1px solid #141A29;
    border-right: 1px solid #141A29;
}

.nav-btn-wraper {
    margin-top: 56px;
}

.nav-btn-wraper > div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 30px;
}

.custom-prev, .custom-next {
    width: 54px;
    height: 54px;
    border: 1px solid #141A29;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.custom-prev {
    background-image: url('../../assets/arrow_left.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.custom-next {
    background-image: url('../../assets/arrow_right.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.custom-next.disabled {
    background-image: url('../../assets/arrow_right_disablet.svg');
    border-color: #7F8AA3;
}

.custom-prev.disabled {
    background-image: url('../../assets/arrow_left_disablet.svg');
    border-color: #7F8AA3;
}