.developments-title {
    border-left: 1px solid #141A29;
    line-height: 69px;
}

.developments-wraper {
    border-top: 1px solid #141A29;
    border-bottom: 1px solid #141A29;
}

.developments-item {
    border-bottom: 1px solid #141A29;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
}

.developments-item-hover:hover {
    background-color: #2B3857;
}

.developments-item-hover:hover p {
    color: #F2F4F7;
}

.developments-item img {
    position: absolute;
    display: none; 
    pointer-events: none; 
    z-index: 10; 
}

.developments-item:hover img {
    display: block;
}

.developments-title h3 {
    font-family: "e-Ukraine";
    margin: 15px;
    font-size: 60px;
    font-weight: 500;
    color: #141A29;
    text-transform: uppercase;
    letter-spacing: 5.5px;
}

.developments-item p {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat';
    line-height: 20px;
}

.developments-item-cell {
    display: flex;
    align-items: center;
    padding: 15px;
}

.developments-item .developments-item-cell:nth-child(2) {
    border-right: 1px solid #141A29;
    border-left: 1px solid #141A29;
}

.developments-item .development-bold {
    font-weight: bold;
    margin-top: 15px;
}

@media (max-width: 1024px) {
    .developments-title {
        text-align: center;
    }

    .developments-title h3 {
        font-size: 50px; 
        letter-spacing: 4px;
    }

    .developments-item-cell {
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }

    .developments-item p {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .developments-title h3 {
        font-size: 30px;
        line-height: normal;
        letter-spacing: 2px;
    }

    .developments-item-cell {
        width: 33%;
    }
}

@media (max-width: 545px) {
    .developments-title {
        text-align: center;
        border-left: none;
    }

    .developments-title h3 {
        font-size: 30px;
        letter-spacing: 2px;
    }

    .developments-wraper {
        padding: 5px;
    }

    .developments-item-cell {
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }

    .developments-item {
        flex-wrap: nowrap;
    }

    .developments-item p {
        font-size: 16px;
        line-height: 16px;
    }
}

@media (max-width: 375px) {
    .developments-title {
        text-align: center;
        border-left: none;
    }

    .developments-title h3 {
        font-size: 30px;
        letter-spacing: 2px;
    }

    .developments-wraper {
        padding: 5px;
    }

    .developments-item-cell {
        flex-direction: column;
        padding: 5px;
        text-align: center;
    }

    .developments-item {
        flex-wrap: nowrap;
    }

    .developments-item p {
        font-size: 16px;
        line-height: 16px;
    }
}