.result-title {
    font-size: 56.5px;
    background-image: url('/public/img/result-bg.png');
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: center;
    background-size:inherit;
    margin-bottom: 100px;
    color: white;
    text-transform: uppercase;
}

.result-title h3 {
    margin: 0;
}

.result-text {
    margin-top: 30px;
    font-family: 'e-Ukraine-Light';
    font-size: 18px;
}

.result-card-wraper div {
    position: relative;
	z-index: 1;
	overflow: hidden;
	cursor: pointer;
    height: min-content;
    border-radius: 10px;
}

.result-img {
    border-radius: 10px;
    opacity: 0.7;
    transition: opacity 0.35s, transform 0.35s;
    transform: scale(1.1);
}

.result-card-wraper:hover div img {
    transform: scale(1);
    opacity: 1;
}