.result-item {
    border: 1px solid #141A29;
    padding: 15px;
}

.result-item:first-child {
    border-left: none;
    border-right: none;
}

.result-item:nth-child(3) {
    border-left: none;
    border-right: none;
}

.result-item:nth-child(4) {
    border-left: none;
    border-right: none;
}

.result-item:last-child {
    border-left: none;
    border-right: none;
}

.result-title h3 {
    text-align: end;
    font-family: "Gerhaus";
    margin: 15px;
    font-size: 60px;
    font-weight: 400;
    color: #141A29;
    text-transform: uppercase;
    letter-spacing: 5.5px;
}

.result-text {
    margin: 15px 0;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Montserrat';
    line-height: 20px;
}

.result-item div {
    position: relative;
    height: 190px;
    width: 100%;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}

.result-img .img{
    width: 100%;
    position: relative;
    transition: transform 0.35s;
    transform: scale(1.1);
}

.result-item:hover div img {
    transform: scale(1);
}