.production {
    border-top: 1px solid #141A29;
    border-bottom: 1px solid #141A29;
}

.prodaction-array-wraper {
    border: 1px solid #141A29;
}

.production-title {
    border-left: 1px solid #141A29;
}

.production-title h3 {
    font-family: 'e-Ukraine';
    margin: 15px;
    font-size: 60px;
    font-weight: medium;
    color: #141A29;
    text-transform: uppercase;
    letter-spacing: 5.5px;
}

@media (max-width: 1024px) {
    .production {
        padding: 15px;
    }

    .prodaction-array-wraper {
        border: 1px solid #141A29;
        padding: 8px;
    }

    .production-title {
        border-left: 1px solid #141A29;
    }

    .production-title h3 {
        font-size: 50px; 
        letter-spacing: 4px; 
    }
}

@media (max-width: 545px) {
    .production {
        padding: 10px;
    }

    .prodaction-array-wraper {
        border: none;
        padding: 5px;
    }

    .production-title {
        border-left: none;
        text-align: center; 
    }

    .production-title h3 {
        font-size: 30px; 
        letter-spacing: 2px; 
    }
}

@media (max-width: 375px) {
    .production {
        padding: 10px;
    }

    .prodaction-array-wraper {
        border: none;
        padding: 5px;
    }

    .production-title {
        border-left: none;
        text-align: center; 
    }

    .production-title h3 {
        font-size: 30px; 
        letter-spacing: 2px; 
    }
}