.production {
    border-top: 1px solid #141A29;
    border-bottom: 1px solid #141A29;
}

.prodaction-array-wraper {
    border: 1px solid #141A29;
}

.production-title {
    border-left: 1px solid #141A29;
}

.production-title h3 {
    font-family: 'Gerhaus';
    margin: 15px;
    font-size: 60px;
    font-weight: 400;
    color: #141A29;
    text-transform: uppercase;
    letter-spacing: 5.5px;
}