.footer-wraper {
    background-color: #F2F4F7;
    padding-top: 120px;
}

.footer-item {
    padding: 15px 15px 30px;
}

.footer-first-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-lang-menu button a {
    color: #141A29;
}

.footer-lang-menu button:hover {
    border-color: #141A29;
}

.footer-item:nth-child(2) {
    border-left: 1px solid #141A29;
    border-right: 1px solid #141A29;
}

.footer-item-wraper {
    border-top: 1px solid #141A29;
    border-bottom: 1px solid #141A29;
}

.footer-menu-item {
    color: #141A29;
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
}

.footer-title {
    font-family: 'Montserrat';
    color: #141A29;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}

.footer-item-contact div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-contact {
    color: #141A29;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.footer-contact:hover {
    color: #1818ED;
}

.footer-info-wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 30px 0;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-info-wraper div {
    width: 24px;
    height: 24px;
}

.social-link {
    display: flex;
    height: 54px;
    width: 54px;
}

.social-link img {
    display: block;
    line-height: 54px;
    margin: auto;
    height: 24px;
    width: 24px;
}

.social-link:hover {
    border: 1px solid #141A29;
    border-radius: 50px;
}

.footer-menu-item-submenu button {
    border: none;
    padding: 0;
}

.footer-menu-item-submenu button:hover {
    border: none;
    background-color: #F2F4F7;
    
}

.footer-menu-item-submenu button a {
    color: #141A29;
    height: 28px;
}

.footer-menu-item-submenu button:hover a {
    color: #1818ED;
}

@media (max-width: 900px) {
    .footer-menu-item {
        font-size: 18px;
        text-align: start;
    }
    .footer-menu-item-submenu button a {
        color: #141A29;
        height: auto;
    }
}

@media (max-width: 900px) {
    .footer-wraper {
        padding-top: 80px;
    }

    .footer-item {
        width: 100%;
    }

    .footer-item div {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .footer-menu-item-wraper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-info-wraper {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        font-size: 12px;
    }

    .footer-info-wraper p {
        width: 225px;
    }

    .footer-item:nth-child(2) {
        border-left: none;
        border-right: none;
        border-top: 1px solid #141A29;
        border-bottom: 1px solid #141A29;
    }
}