.footer-wraper {
    background-color: #1C1C1C;
    padding: 120px 0;
    background-image: url('/public/img/bg-body.png');
    background-position-y: bottom;
}

.footer-item {
    display: flex;
    align-items: center;
    padding: 0 40px;
    height: 200px;
}

.footer-item:first-child {
    border-bottom: 1px solid white;
    justify-content: flex-end;
}
.footer-item:nth-child(3) {
    border-bottom: 1px solid white;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.footer-item:nth-child(2) {
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.footer-item:nth-child(5) {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.footer-title-wraper {
    width: fit-content;
}

.footer-title {
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 5px 0;
}

.footer-contact {
    margin: 0;
    color: white;
    font-size: 18px;
    font-weight: 100;
    line-height: 15px;
}

.footer-contact span {
    font-size: 15px;
}

.footer-contact:nth-child(2) {
    margin: 30px 0;
}

.social-link {
    text-align: center;
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.footer-doc-wraper {
    color: white;
}

.footer-info-wraper {
    color: white;
}

.footer-info-wraper span {
    color: #3CC4E1;
}